{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/all.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/agency.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">RCapital</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link js-scroll-trigger" href="#transactions">Transactions</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Yoann Roussel</div>
                <div class="intro-lead-in">Banquier d'affaires</div>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Me Contacter</a>
            </div>
        </div>
    </header>

    <section class="bg-light page-section" id="articles">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Articles</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% if articles|length <= 1 %}
                    <h3 class="section-subheading text-muted text-center" style="text-align: center!important;display: block;width: 100%;">Il n'y a aucun articles pour le moment. Revenez plus tard.</h3>
                {% endif %}
                {% for article in articles %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#article{{ article.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ article.preview.path }}{{ article.preview.name }}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ article.title|raw }}</h4>
                            <p class="text-muted">{{ article.type|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>

    <section class="bg-light page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">{{ user.resume }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{{ user.avatar.path }}{{ user.avatar.name }}" alt="">
                        <h4>{{ user.surname }}</h4>
                        <p class="text-muted">{{ user.work }}</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/yoann-roussel">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4"></div>

            </div>
        </div>
{#        <div class="container">#}
{#            <div class="row text-center">#}
{#                <div class="col-md-4">#}
{#          <span class="fa-stack fa-4x">#}
{#            <i class="fas fa-circle fa-stack-2x text-primary"></i>#}
{#            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>#}
{#          </span>#}
{#                    <h4 class="service-heading">Conseil M&A</h4>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#          <span class="fa-stack fa-4x">#}
{#            <i class="fas fa-circle fa-stack-2x text-primary"></i>#}
{#            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>#}
{#          </span>#}
{#                    <h4 class="service-heading">Ingénierie financière</h4>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#          <span class="fa-stack fa-4x">#}
{#            <i class="fas fa-circle fa-stack-2x text-primary"></i>#}
{#            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>#}
{#          </span>#}
{#                    <h4 class="service-heading">Valorisation</h4>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </section>

{#    <section class="bg-light page-section" id="transactions">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 text-center">#}
{#                    <h2 class="section-heading">Transactions</h2>#}
{#                    <h3 class="section-subheading text-muted"></h3>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                {% if transactions|length <= 1 %}#}
{#                    <h3 class="section-subheading text-muted text-center" style="text-align: center!important;display: block;width: 100%;">Il n'y a aucune transactions pour le moment. Revenez plus tard.</h3>#}
{#                {% endif %}#}
{#                {% for transaction in transactions %}#}
{#                    <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                        <a class="portfolio-link" data-toggle="modal" href="#transaction{{ transaction.id }}">#}
{#                            <div class="portfolio-hover">#}
{#                                <div class="portfolio-hover-content">#}
{#                                    <i class="fas fa-plus fa-3x"></i>#}
{#                                </div>#}
{#                            </div>#}
{#                            <img class="img-fluid" src="{{ transaction.preview.path }}{{ transaction.preview.name }}" alt="">#}
{#                        </a>#}
{#                        <div class="portfolio-caption">#}
{#                            <h4>{{ transaction.title|raw }}</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactez Moi</h2>
                    <h3 class="section-subheading text-muted" style="color: white!important;">
                        Vous voulez entrer en contact? J'adorerais avoir de vos nouvelles. Vous pouvez me joindre sur mes réseaux sociaux ou par message.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(contact) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(contact.name, {'attr': {'class': 'form-control', 'placeholder': 'Prénom & Nom'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(contact.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(contact.phone, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(contact.subject, {'attr': {'class': 'form-control', 'placeholder': 'Sujet'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(contact.body, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LfB47gUAAAAAG02izozkschg2_N_olWlrhdu1qz"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            {{ form_widget(contact.submit, {'attr': {'class': 'btn btn-primary btn-xl'}}) }}
                        </div>
                    </div>
                    {{ form_end(contact) }}
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2019</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/yoann-roussel">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    {% for article in articles %}
        <div class="portfolio-modal modal fade" id="article{{ article.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">{{ article.title|raw }}</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{{ article.preview.path }}{{ article.preview.name }}" alt="">
                                    <div class="content-modal">{{ article.content|raw }}</div>
                                    <ul class="list-inline">
                                        <li>Date: {{ article.createdAt|date('F jS Y') }}</li>
                                        <li>Autheur: {{ article.createdBy.surname }}</li>
                                        <li>Categorie: {{ article.type }}</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fermer l'article</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for transaction in transactions %}
        <div class="portfolio-modal modal fade" id="transaction{{ transaction.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">{{ transaction.title|raw }}</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{{ transaction.preview.path }}{{ transaction.preview.name }}" alt="">
                                    <div class="content-modal">{{ transaction.content|raw }}</div>
                                    <ul class="list-inline">
                                        <li>Date: {{ transaction.createdAt|date('F jS Y') }}</li>
                                        <li>Autheur: {{ transaction.createdBy.surname }}</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fermer la transaction</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('js/contact_me.js') }}"></script>
    <script src="{{ asset('js/agency.min.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
